HF_ENDPOINT=https://hf-mirror.com
HF_HOME=.cache/huggingface
HF_HUB_CACHE=.cache/huggingface/hub
HF_XET_HIGH_PERFORMANCE=1
SAM2_MODEL_SIZE=tiny
SAM2_DEVICE=auto
API_HOST=127.0.0.1
API_PORT=8004
GRADIO_PORT=7864
